<div class="card">
  <h3>
    <a [routerLink]="['/courses', course().Id]"> {{ course().Title }} </a>
    ({{ course().Code }})
  </h3>
  <p>Enrolled {{ course().EnrollmentCount }} of {{ course().MaxCapacity }} seats</p>
  <span class="badge" [class.closed]="course().EnrollmentCount >= course().MaxCapacity">
    {{ course().EnrollmentCount >= course().MaxCapacity ? 'Full' : 'Accepting Enrollments' }}
  </span>
  <button
    (click)="enrollClicked.emit(course())"
    [disabled]="course().EnrollmentCount >= course().MaxCapacity"
  >
    Enroll
  </button>
</div>
